<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeff.demo.androiddemo">
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
          android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".material.AppBarLayoutActivity"
            android:label="AppBarLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".material.CollapsingToolBarActivity"
            android:label="CollapsingToolBar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".material.BehaviorActivity"
            android:label="Behavior"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shadow.ViewShadowActivity"
            android:label="Shadow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chart.DataChartActivity"
            android:label="Chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxjava.RxAndroidActivity"
            android:label="rxandroid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".annotation.AnnotationActivity"
            android:label="annotation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".tablayout.CustomTabLayoutActivity"
          android:label="customtablayout"
          android:theme="@style/AppTheme.NoActionBar"/>
        <receiver android:name=".shield.HomeReceiver"
            android:enabled="true"
            android:exported="true"/>
        <service android:name="com.fatangare.logcatviewer.service.LogcatViewerService"
          android:label="LogcatLoggerService"></service>
        <service android:name="com.fatangare.logcatviewer.service.LogcatViewerFloatingView"
          android:label="LogcatLoggerFloatingView" > </service>
    </application>

</manifest>